[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
sqlalchemy = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
bcrypt = "*"
flask-restful = "*"
flask-session = "*"
flask-bcrypt = "*"
python-dotenv = "*"
flask-mail = "*"
flask-jwt-extended = "*"
flask-uploads = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.10"